body{
	width: 770px;
	font-size: 1.5em;
	color: black;
	font-family: Arial, sans-serif;
}

#cabecera{
	height: 100px;
	background-color: #D8D7D7;
	background-image: url("images/cabecera.jpg");
}

#cabecera a:hover {
  background-color: #EED7B3;
}

#secundario{
	width: 200px;
	float: left;
}

#principal{
	width: 300px;
	float: left;
}

#enlaces{
	width: 200px;
	float: left;
}

footer{
	width: 770px;
	clear: both;
    position: relative;
    height: 40px;
    margin-top: -40px;
    text-align: center;
}

p{
	line-height: 0.5em;
	margin: 0.5px;
}

/* Enlaces: */
a:link {
	font-family: Arial, sans-serif;
  	color: blue;
}

a:hover {
  color: red;
}

a:visited {
font-family: Verdana, sans-serif;
  color: blue;
}

#menu_revistas a{
  width: 200px;
  display: block;
  padding: 0.3em;
  margin-bottom: 0.7em;
}

#menu_revistas a:link {
	font-family: Arial, sans-serif;
  	color: blue;
}

#menu_revistas a:hover {
  	color: red;
}

#menu_revistas a:visited {
	font-family: Verdana, sans-serif;
  	color: blue;
}

table a:link{	
	color: green;
}

table a:hover{	
	color: red;
}
